.tittle-chat{
    font-size: 4.0rem;
    color: #37378a;
    font-family: "RobotoCondensed-Regular" !important;
    src: url('./../../../assets/font/RobotoCondensed-Regular.ttf');
    font-weight: bold;
}