<ion-header>
    <ion-toolbar color="primary">
      <div class="header-content">
        <div>
            <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
        </div>
        <div class="logo">
            <img src="./../../../assets/img/logo-ccb-blanco.png" alt="">
        </div>
        <div class="notifi">
          <ion-buttons>
              <ion-icon name="notifications"></ion-icon>
          </ion-buttons>
        </div>
      </div>  
    </ion-toolbar>
  </ion-header>