<ion-split-pane>
  <ion-menu contentId="content"> 
    <ion-content>
      <ion-list>
        <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle> -->
 
        <!-- <ion-item tappable routerLink="/login" routerDirection="root">
          <ion-icon name="log-out" slot="start"></ion-icon>
          Logout
        </ion-item> -->
        <div class="menu-header">
          <div>
            <ion-avatar>
              <img src="./../../../assets/img/Camara_Menu.jpg" alt="">
            </ion-avatar>
          </div>
          <div>
            <div>
                <div>
                    <h5>Hola,</h5>
                </div>
                <div>
                    <h3>Bienvenido</h3>
                </div>  
            </div>                    
          </div>
        </div>
        <div>
          <ion-item tappable (click)="openLink()" routerDirection="root" color="secondary">
            <img src="./../../../assets/icon/Menu/servicios.png" alt="">
            <strong>Servicios</strong>
          </ion-item>
          <ion-item tappable (click)="openLink()" routerDirection="root" color="secondary">
            <img src="./../../../assets/icon/Menu/informacion.png" alt="">
            <strong>información</strong>
          </ion-item>
          <ion-item tappable (click)="openLink()" routerDirection="root" color="secondary">
            <img src="./../../../assets/icon/Menu/contactenos.png" alt="">
            <strong>Contáctenos</strong>
          </ion-item>
          <ion-item tappable (click)="openLink()" routerDirection="root" color="secondary">
            <img src="./../../../assets/icon/Menu/confi.png" alt="">
            <strong>Configuración</strong>
          </ion-item>          
          <ion-item tappable routerLink="/menu/registro" routerDirection="root" color="secondary" class="separador-menu">
            <img src="./../../../assets/icon/Menu/registrarse.png" alt="">
            <strong>Registrarse</strong>
          </ion-item>
          <ion-item tappable routerLink="/login" routerDirection="root" color="secondary">
            <img src="./../../../assets/icon/Menu/ingresar.png" alt="">
            <strong>Ingresar</strong>
          </ion-item>          
        </div>        
      </ion-list>
    </ion-content>
    <ion-footer>
      <div class="content-footer">
        <div>
          <strong>Siguenos en</strong>
        </div>
        <div class="redes">
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-twitter"></ion-icon>
          <ion-icon name="logo-youtube"></ion-icon>
          <ion-icon name="logo-linkedin"></ion-icon>
        </div>
      </div>
    </ion-footer> 
  </ion-menu>
 
  <ion-router-outlet id="content" main></ion-router-outlet>
 
</ion-split-pane>
