<ion-split-pane>
  <ion-menu contentId="content"> 
    <ion-content>
      <ion-list>
        <!-- <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath.startsWith(p.url)">
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle> -->
 
        <!-- <ion-item tappable routerLink="/login" routerDirection="root">
          <ion-icon name="log-out" slot="start"></ion-icon>
          Logout
        </ion-item> -->
        <div></div>
        <div>
          <ion-item tappable routerLink="/login" routerDirection="root">
            <ion-icon name="log-out" slot="start"></ion-icon>
            opción 1
          </ion-item>
          <ion-item tappable routerLink="/login" routerDirection="root">
            <ion-icon name="log-out" slot="start"></ion-icon>
            opción 2
          </ion-item>
          <ion-item tappable routerLink="/login" routerDirection="root">
            <ion-icon name="log-out" slot="start"></ion-icon>
            opción 3
          </ion-item>
          <ion-item tappable routerLink="/login" routerDirection="root">
            <ion-icon name="log-out" slot="start"></ion-icon>
            opción 4
          </ion-item>
          <ion-item tappable routerLink="/login" routerDirection="root">
            <ion-icon name="log-out" slot="start"></ion-icon>
            opción 5
          </ion-item>
        </div>
        <div>
          <ion-item tappable routerLink="/login" routerDirection="root">
            <ion-icon name="log-out" slot="start"></ion-icon>
            opción 6
          </ion-item>
          <ion-item tappable routerLink="/login" routerDirection="root">
            <ion-icon name="log-out" slot="start"></ion-icon>
            opción 7
          </ion-item>
          <ion-item tappable routerLink="/login" routerDirection="root">
            <ion-icon name="log-out" slot="start"></ion-icon>
            opción 8
          </ion-item>
          <ion-item tappable routerLink="/login" routerDirection="root">
            <ion-icon name="log-out" slot="start"></ion-icon>
            opción 9
          </ion-item>
          <ion-item tappable routerLink="/login" routerDirection="root">
            <ion-icon name="log-out" slot="start"></ion-icon>
            opción 10
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
    <ion-footer>
      <div>
        
      </div>
    </ion-footer> 
  </ion-menu>
 
  <ion-router-outlet id="content" main></ion-router-outlet>
 
</ion-split-pane>
