.active-item {
    border-left: 8px solid var(--ion-color-primary);
}

ion-list{
    background-color: #eeeeee;
    height: 100%;
    padding: 0;
}

ion-list > div {
    height: 35%;
    width: 100%;
    border: 1px solid #000;
}

ion-list > div:first-child { height: 30%;}

ion-footer{
    height: 11%;
}

ion-footer > div{
    background-color: #000;
    height: 100%;
    width: 100%
}
