<app-header></app-header>

<ion-content>
  <ion-card class="content-image">
    <ion-card-content>
      <div class="aux-card">
        <strong>Servicios</strong>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="content-options">
    <ion-card-content>
      <div>
        <div class="options" (click)="LinkRenovacion()">
          <img src="./../../../assets/icon/Servicios/renovaciones.png" alt="">          
        </div>
        <div class="options" routerLink="/menu/first/tabs/tab1/consultas/certificados">
          <img src="./../../../assets/icon/Servicios/certificados_electronicos.png" alt="">
        </div>
      </div>
      <div>
        <div class="options" routerLink="/menu/first/tabs/tab1/consultas/eventos">
            <img src="./../../../assets/icon/Servicios/Eventos_Capacitaciones.png" alt="">
        </div>
        <div class="options" routerLink="/menu/first/tabs/tab1/consultas/turnos">
            <img src="./../../../assets/icon/Servicios/Soli_turnos_citas.png" alt="">
        </div> 
      </div>
      <div>
          <div class="options" (click)="openAsesoria()">
              <img src="./../../../assets/icon/Servicios/Asesoria_Virtual.png" alt="">
          </div>          
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
