<app-header></app-header>

<ion-content>
  <ion-card class="content-image">
    <ion-card-content>
      <div class="aux-card">
        <strong>Consultas</strong>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="content-options">
    <ion-card-content>
      <div>
        <div class="options">
          <div></div>
          <div><strong>Opcion 1</strong></div>
        </div>
        <div class="options">
          <div></div>
          <div><strong>Opcion 2</strong></div>
        </div>
      </div>
      <div>
        <div class="options">
          <div></div>
          <div><strong>Opcion 3</strong></div>
        </div>
        <div class="options">
          <div></div>
          <div><strong>Opcion 4</strong></div>
        </div> 
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
