<app-header></app-header>

<ion-content>
  <ion-card class="content-image">
    <ion-card-content>
      <div class="aux-card">
        <strong>Contáctenos</strong>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="content-options">
    <ion-card-content>
      <div>
        <div class="options" (click)="OpenLink('https://webchat.millenium.com.co/webchatccb/userinfo.jsp?chatID=1568385300856&workgroup=agentesccb@workgroup.chatminco.millenium.com.co')">
          <img src="./../../../assets/icon/Contactenos/chat.png" alt="">          
        </div>
        <div class="options" (click)="OpenLink('https://webrtc.millenium.com.co/clicktocall/ccb/clicktocall.html')">
          <img src="./../../../assets/icon/Contactenos/Lamada_Virtual.png" alt="">
        </div>
      </div>
      <div>
        <div class="options" routerLink="/menu/first/tabs/tab1/contactenos/ubiquenos">
            <img src="./../../../assets/icon/Contactenos/ubiquenos.png" alt="">
        </div>
        <div class="options" (click)="Call()">
            <img src="./../../../assets/icon/Contactenos/llamada383.png" alt="">
        </div> 
      </div>      
    </ion-card-content>
  </ion-card>
</ion-content>
