<app-header></app-header>

<ion-content>
  <ion-card class="content-image">
    <ion-card-content>
      <div class="aux-card">
        <strong>Tramites</strong>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="content-options">
    <ion-card-content>
      <div>
        <div class="options">
          <div><img src="./../../../assets/icon/icono2-tramites.png" alt=""></div>          
        </div>
        <div class="options" (click)="openUrl()">
          <div><img src="./../../../assets/icon/icono1-tramites.png" alt=""></div>          
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
