<app-header></app-header>

<ion-content>
  <ion-card class="content-image">
    <ion-card-content>
      <div class="aux-card">
        <strong>Macrosectores</strong>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="content-options">
    <ion-card-content>   
        <div>
            <div class="options" (click)="UrlContruc()">
              <img src="./../../../assets/icon/macrosectores/construccion.png" alt="">          
            </div>
            <div class="options" (click)="UrlSalud()">
              <img src="./../../../assets/icon/macrosectores/salud.png" alt="">
            </div>
          </div>
          <div>
            <div class="options" (click)="UrlModa()">
                <img src="./../../../assets/icon/macrosectores/moda.png" alt="">
            </div>
            <div class="options" (click)="UrlAgro()">
                <img src="./../../../assets/icon/macrosectores/agropecuario.png" alt="">
            </div> 
          </div>
          <div>
              <div class="options" (click)="UrlTurismo()">
                  <img src="./../../../assets/icon/macrosectores/turismo.png" alt="">
              </div>   
              <div class="options" (click)="UrlServicios()">
                  <img src="./../../../assets/icon/macrosectores/servicios.png" alt="">
              </div>          
          </div>
    </ion-card-content>
  </ion-card>
</ion-content>
