<app-header></app-header>

<ion-content>
  <ion-card class="content-image">
    <ion-card-content>
      <div class="aux-card">
        <strong>Macrosectores</strong>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="content-options">
    <ion-card-content>   
        <ion-list lines="none">
          <ion-item no-lines>
              <div class="optionslist">
                <div class="options" (click)="OpenLink('https://www.ccb.org.co/Sectores/Construccion-y-energia')">
                  <img src="./../../../assets/icon/macrosectores/energia.png" alt="">          
                </div>
                <div class="options" (click)="OpenLink('https://www.ccb.org.co/Sectores/Salud-y-quimicos')">
                  <img src="./../../../assets/icon/macrosectores/salud.png" alt="">
                </div>
              </div>
          </ion-item>
          <ion-item no-lines tappable> 
              <div class="optionslist">
                <div class="options" (click)="OpenLink('https://www.ccb.org.co/Sectores/Moda')">
                  <img src="./../../../assets/icon/macrosectores/moda.png" alt="">          
                </div>
                <div class="options" (click)="OpenLink('https://www.ccb.org.co/Sectores/TIC')">
                  <img src="./../../../assets/icon/macrosectores/TI.png" alt="">
                </div>
              </div>
          </ion-item>
          <ion-item no-lines>
              <div class="optionslist">
                <div class="options" (click)="OpenLink('https://www.ccb.org.co/Sectores/Turismo-y-gastronomia')">
                  <img src="./../../../assets/icon/macrosectores/turismo.png" alt="">          
                </div>
                <div class="options" (click)="OpenLink('https://www.ccb.org.co/Sectores/Servicios-empresariales')">
                  <img src="./../../../assets/icon/macrosectores/servicios.png" alt="">
                </div>
              </div>
          </ion-item>
          <ion-item no-lines>
              <div class="optionslist">
                <div class="options" (click)="OpenLink('https://www.ccb.org.co/Sectores/Agropecuario-y-agroindustrial')">
                  <img src="./../../../assets/icon/macrosectores/agro.png" alt="">          
                </div>
                <div class="options" (click)="OpenLink('https://www.ccb.org.co/Sectores/Industrias-creativas-culturales-y-graficas')">
                  <img src="./../../../assets/icon/macrosectores/Indistrias.png" alt="">
                </div>
              </div>
          </ion-item>
          <ion-item no-lines>
              <div class="optionslist">                
                <div class="options" (click)="OpenLink('https://www.ccb.org.co/Sectores/Otros-sectores')">
                  <img src="./../../../assets/icon/macrosectores/Otros.png" alt="" class="ultima-opcion">
                </div>
              </div>
          </ion-item>  
          <ion-item no-lines>
                     
          </ion-item>                  
        </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
