<app-header></app-header>

<ion-content>
  <ion-card class="content-image">
    <ion-card-content>
      <div class="aux-card">
        <div><strong>Solicitud de turnos</strong></div>
        <div><strong>y citas</strong></div>       
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="content-options">
    <ion-card-content>
      <div>
        <div class="options" (click)="openLink()">
          <img src="./../../../assets/icon/Turnos/Cita.png" alt="">          
        </div>
        <div class="options" (click)="openLinkA()">
          <img src="./../../../assets/icon/Turnos/Turnos.png" alt="">
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
