
.content-image{
    height: 40%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;    
    box-shadow: none;
    background-image: url(./../../../assets/img/Noticias.png);
    background-size: 100% 100%;
}

.content-image > ion-card-content{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%; 
    height: 100%;
    margin: 0;
    padding: 0;
}

.aux-card{
    width: 100%;
    height: 25%;
    padding-left: 25px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFF;
}

.aux-card > strong{
    font-size: 30px;    
    // text-shadow: -3px 1px black;
    font-family: "RobotoCondensed-Light" !important;
    src: url('./../../../assets/font/RobotoCondensed-Light.ttf');
}

.content-options{
    height: 60%;
    width: 100%;
    margin: 0;
    padding: 0;
    border-radius: 0;    
    box-shadow: none;
}
.content-options> ion-card-content{
    width: 100%;
    height: 100%;
    padding: 0;    
}

.content-options> ion-card-content > div {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
