<app-header></app-header>
 
<ion-content padding>
  <ion-card class="content-card Card-1">
    <ion-card-content routerLink="/menu/servicios">
      <div class="footer-card">
          <div>
            <h3>Servicios</h3>
          </div>
          <div>
            <h3>></h3>
          </div>
      </div>        
    </ion-card-content>
  </ion-card>

  <ion-card class="content-card Card-2">
    <ion-card-content>
        <div class="footer-card">
            <div>
                <h3>Información</h3>
            </div>
            <div>
                <h3>></h3>
            </div>
        </div>   
    </ion-card-content>
  </ion-card>

  <ion-card class="content-card Card-3">
    <ion-card-content>
        <div class="footer-card">
            <div>
              <h3>Contáctenos</h3>
            </div>
            <div>
                <h3>></h3>
            </div>
        </div>  
    </ion-card-content>
  </ion-card>
</ion-content>
