
<app-header></app-header>
 
<ion-content>
  <ion-card class="content-card Card-1">
    <ion-card-content routerLink="/menu/first/tabs/tab1/consultas">
      <div class="footer-card">
          <div>
            <h3>Consultas</h3>
          </div>
          <div>
            <h3>></h3>
          </div>
      </div>        
    </ion-card-content>
  </ion-card>
  
  <ion-card class="content-card Card-2">
    <ion-card-content routerLink="/menu/first/tabs/tab1/transacciones">
        <div class="footer-card">
            <div>
                <h3>Transacciones</h3>
            </div>
            <div>
                <h3>></h3>
            </div>
        </div>   
    </ion-card-content>
  </ion-card>

  <ion-card class="content-card Card-3">
    <ion-card-content>
        <div class="footer-card">
            <div>
              <h3>Contáctenos</h3>
            </div>
            <div>
                <h3>></h3>
            </div>
        </div>  
    </ion-card-content>
  </ion-card>
</ion-content>
