<app-header></app-header>

<ion-content>
  <ion-card class="content-image">
    <ion-card-content>
      <div class="aux-card">
        <div><strong>Certificados</strong></div>
        <div><strong>electrónicos</strong></div>       
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card class="content-options">
    <ion-card-content>
      <div>
        <div class="options" (click)="OpenLink('https://linea.ccb.org.co/CertificadosElectronicosR/Index.html#/buscar-inscritos')">
          <img src="./../../../assets/icon/Certificados/Solicitud.png" alt="">          
        </div>
        <div class="options" (click)="OpenLink('https://linea.ccb.org.co/CertificadosElectronicosR/Index.html#/descargas')">
          <img src="./../../../assets/icon/Certificados/Descarga.png" alt="">
        </div>
      </div>      
      <div>
          <div class="options aux-opntions" (click)="OpenLink('http://s3.amazonaws.com/validacertificados/Index.html#/verificacion')">
              <img src="./../../../assets/icon/Certificados/Verificado.png" alt="">
          </div>          
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
